:root {
  --base: #191724;
  --surface: #1f1d2e;
  --overlay: #26233a;

  --muted: #6e6a86;
  --subtle: #908caa;
  --text: #e0def4;

  --love: #eb6f92;
  --gold: #f6c177;
  --rose: #ebbcba;
  --pine: #31748f;
  --foam: #9ccfd8;
  --iris: #c4a7e7;

  --highlightLow: #21202e;
  --highlightMed: #403d52;
  --highlightHigh: #524f67;
}

* {
  border: none;
  font-size: 14px;
  min-height: 25px;
}

#waybar {
  margin: 1rem;
  background: transparent;
  color: var(--text);
}

.modules-right {
  padding-left: 5px;
  border-radius: 15px 0 0 15px;
  margin-top: 2px;
  min-width: 200px;
  background: var(--base);
}

.modules-center {
  padding: 0 15px;
  margin-top: 2px;
  border-radius: 15px 15px 15px 15px;
  background: var(--base);
}

.modules-left {
  border-radius: 0 15px 15px 0;
  margin-top: 2px;
  background: var(--base);
}

#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#wireplumber,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
#workspaces,
#clock {
  padding: 1px 5px;
  background: var(--overlay);
  margin: 2px;
  border-radius: 15px;
}

#disk {
  color: var(--love);
}

#memory {
  color: var(--iris);
}

#cpu {
  color: var(--rose);
  min-width: 4rem;
}

#wireplumber {
  padding-top: 3px;
  color: var(--foam);
}

#temperature.critical,
#pulseaudio.muted {
  color: var(--love);
  padding-top: 0;
}

#temperature,
#battery.charging {
  color: var(pine);
}

#battery.warning:not(.charging) {
  background-color: #ffbe61;
  color: var(--gold);
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: var(--love);
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
