.hud {
    color: #f5c2e7;
    margin: 15px;
	background-color: #313244;
    border-style: solid;
    border-color: #11111b;
	border-radius:  20px;
    border-width: 2px;
}
.calendar-box {
	margin: 15px;
	border-style: solid;
	border-width: 2px;
	border-radius:  20px;
}
.graph-box {
	margin: 15px;
	border-style: solid;
	border-width: 2px;
	border-radius: 20px;
	border-color: #11111b;
}
.box {
	background-color: #1e1e2e;
	border-style: solid;
	border-color: #11111b;
    border-radius:  20px;
	border-width: 2px;
}
.cpu {
    color: #89b4fa;
    margin: 8px;
    background-color: #1e1e2e;
}
.gpu {
    color: #a6e3a1;
    margin: 8px;
    background-color: #1e1e2e;
}
.mem {
    color: #94e2d5;
    margin: 8px;
    background-color: #1e1e2e;
}
.swap {
    color: #b4befe;
    margin: 8px;
    background-color: #1e1e2e;
}