name: "Cache"
on:
  pull_request:
  push:
jobs:
  push-to-cachix:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - uses: cachix/cachix-action@v15
      with:
        name: moxies-dotfiles
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

    - run: nix build .#comicMono
    - run: nix build .#rosePineCursor
    - run: nix build .#rosePineHyprland
    - run: nix build .#rosePineKitty
    - run: nix build .#rosePineSddm
    - run: nix build .#rosePineVesktop
    - run: nix build .#rosePineWallpapers
    - run: nix build .#rosePineWofi
    - run: nix build .#rosePineZen
    - run: nix build .#sgx-software-enable

    - run: nix develop -c echo done

