name: "Cache"
on:
  pull_request:
  push:
jobs:
  push-to-cachix:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - uses: cachix/cachix-action@v15
      with:
        name: moxies-dotfiles
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

    - run: nix build .#comic-mono
    - run: nix build .#rose-pine-cursor
    - run: nix build .#rose-pine-hyprland
    - run: nix build .#rose-pine-kitty
    - run: nix build .#rose-pine-sddm
    - run: nix build .#rose-pine-vesktop
    - run: nix build .#rose-pine-wallpapers
    - run: nix build .#rose-pine-wofi
    - run: nix build .#rose-pine-zen
    - run: nix build .#sgx-software-enable
